body{
    flex-wrap: nowrap;
    text-align: center;
    font-family:"Yrsa", serif;
    font-size:x-large;
    background-color:rgb(253, 240, 206);
    
}


header{
    text-align: center;
    font-family: "Yrsa", serif;
    background-color: rgb(253, 240, 206);
}

nav{
    flex-wrap: nowrap;
    background-color: rgb(241, 222, 175);
    display: flex;
    justify-content: center;
    padding: 5px 5px ;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 5px 60px;
}

nav ul li a:hover{
    color: rgb(117, 172, 153);
    background-color: rgb(255, 255, 255);
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(241, 222, 175);
    font-size: x-large;

  }

  footer p{
    font-size: x-large;
    font-family: "Yrsa",serif;
}

.imagens img{
    margin: 10px;
    flex-wrap: nowrap;
    align-items: flex-end;
        
}