
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 222, 175);
    color: #333333;
    line-height: 1.6;
  }
  
  
  header {
    background-color: rgb(250, 232, 185);
    color: rgb(15, 14, 14);
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #f8f3ee;
    border-radius: 4px;
    
  }
  
  
  main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  
  .quarto {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .quarto h2 {
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .quarto img {
    width: 450px;
    border-radius: 8px;
    margin: 20px;
    margin-bottom: 20px;
  }
  
  
  footer {
    background-color: rgb(248, 229, 181);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }